<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

    <header>
        <mat-toolbar>
          <button mat-stroked-button color="primary" routerLink="/client">Client Management</button>
          <button mat-stroked-button color="primary" routerLink="/policy">Policy Management</button>
          <button mat-stroked-button color="primary" routerLink="/client-policy">Assingn|Cancel Policy</button>
        </mat-toolbar>
      </header>
      
      <div class="body">
            <router-outlet></router-outlet>
      </div>
      
      <footer></footer>
      
</div>



