<div class="container">

    <h1>Assign|Cancel Policy</h1>
  
    <hr />
    
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="container">
      
      <input type="number" formControlName="policyId" required placeholder="policy Id">
  
      <input type="text" formControlName="clientId" placeholder="Client Id">
  
      <input type="checkbox" formControlName="status" placeholder="Status">
  
    </form>
  
  </div>
  
  <div class="buttons">
    <button (click)="add()">Save</button>
    <button (click)="search()" [disabled]=true>Search</button>
    <button (click)="update()" [disabled]=true>Update</button>
    <button (click)="remove()" [disabled]=true>Remove</button>
    <button (click)="list()">List</button>
  </div>

  <h3 *ngIf="details[0]!=null">Policy list</h3>

    <table *ngIf="details[0]!=null" border="2px">
      <th>ID</th>
      <th>Policy Name</th>
      <th>Customer Name</th>
        <tr *ngFor="let policy of details"  (click)="onSelect(policy)">
            <td> {{ policy.PolicyId }} </td>
            <td> {{ policy.PolicyName }} </td>
            <td> {{ policy.CustomerName }}</td>
        </tr>
    </table>