<div class="container">

    <h1>Policy Management</h1>
  
    <hr />
    
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="container">

      <input type="text" formControlName="name" required placeholder="Name">
  
      <input type="text" formControlName="description" placeholder="Description">

      <select type="text" formControlName="coveringType" placeholder="Covering Type"> 
          <option value="Terremoto">Terremoto</option>
          <option value="Robo">Robo</option>
          <option value="Incendio">Incendio</option>
          <option value="Perdida">Perdida</option>
      </select>
  
      <input type="number" formControlName="coverage" placeholder="Coverage">
  
      <input type="datetime" formControlName="termBeginning" placeholder="Term of the policy">

      <input type="number" formControlName="coverageOnMonths" placeholder="Coverage On Months">

      <input type="number" formControlName="price" placeholder="Price">

      <select type="text" formControlName="riskType" placeholder="Risk Type"> 
          <option value="Bajo">Bajo</option>
          <option value="Medio">Medio</option>
          <option value="MedioAlto">MedioAlto</option>
          <option value="Alto">Alto</option>
      </select>
  
    </form>
  
  </div>
  
  <div class="buttons">
    <button (click)="add()">Save</button>
    <button (click)="search()" [disabled]=true>Search</button>
    <button (click)="update()" [disabled]=true>Update</button>
    <button (click)="remove()" [disabled]=true>Remove</button>
    <button (click)="list()">List</button>
  </div>

  <hr>

<h3 *ngIf="policies[0]!=null">Policy list</h3>

    <table *ngIf="policies[0]!=null" border="2px">
      <th>ID</th>
      <th>Policy Name</th>
      <th>Description</th>
        <tr *ngFor="let policy of policies"  (click)="onSelect(policy)">
            <td> {{ policy.PolicyId }} </td>
            <td> {{ policy.Name }} </td>
            <td> {{ policy.Description }}</td>
        </tr>
    </table>